.menu {
  background: black;
  padding: 30px;
  opacity:0.9;
  margin:0;
}

ul {
  display: flex;
  justify-content: center;
  margin:0;
  padding:0;
  list-style-type: none;
}

.mainmenu li {
  display:inline;
  font-size: 25px;
  margin: 0 40px 0 40px;
  font-family:verdana;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
  color:black;
  /*border:10px solid*/ transparent;
  border-radius:25px;
  opacity:0.9;
}

.body {
  display: flex;
  height:500px;
}

.left {
  background-image:url('https://raw.githubusercontent.com/green-fox-academy/myfirstapp-syllabus/master/assets/first-website-header.png');  
  background-size:150%;
  background-repeat:no-repeat;
  width:700px;
}

.right {
  display:block;
  width:500px;
}